<head>
    <link href="@Url.Content("~/Styles/app.css")" rel="stylesheet" type="text/css" />
</head>

<div class="panel">
    <div class="message-card">
        <div class="message-header">
            Пароль успешно изменён.
        </div>

        <div class="message-text">
            Теперь вы можете войти в систему.
        </div>

        <a asp-controller="Auth" asp-action="Login" class="button message-button">
            Войти
        </a>
    </div>
</div>