@model RecoverPasswordViewModel
<head>
    <link href=@Url.Content("~/Styles/app.css") rel="stylesheet" type="text/css" />
</head>
<div class="panel">
    <form asp-controller="Auth" asp-action="RecoverPassword" method="post">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Code" />
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="header">Введите новый пароль</div>

        <div class="block">
            <label>Новый пароль</label>
            <input asp-for="NewPassword" class="input" type="password" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="block">
            <label>Подтвердите пароль</label>
            <input asp-for="ConfirmNewPassword" class="input" type="password" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div class="block">
            <button type="submit" class="button">Сохранить</button>
        </div>
    </form>
</div>