<head>
    <link href=@Url.Content("~/Styles/app.css") rel="stylesheet" type="text/css" />
</head>
<div class="panel">
    <div class="header">Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме.</div>
</div>